<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
 http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
 version="2.4">
 <!-- Contains the Servlet mappings for the website -->
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/uploading/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOnePic</servlet-name>
        <servlet-class>GetOnePic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOnePic</servlet-name>
        <url-pattern>/display/GetOnePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditData</servlet-name>
        <servlet-class>EditData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditData</servlet-name>
        <url-pattern>/display/EditData</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteImage</servlet-name>
        <servlet-class>DeleteImage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteImage</servlet-name>
        <url-pattern>/display/DeleteImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>DeleteGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/security/DeleteGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteFriend</servlet-name>
        <servlet-class>DeleteFriend</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteFriend</servlet-name>
        <url-pattern>/security/DeleteFriend</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>CreateGroup</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/security/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditNotice</servlet-name>
        <servlet-class>EditNotice</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditNotice</servlet-name>
        <url-pattern>/security/EditNotice</url-pattern>
    </servlet-mapping>
</web-app>
