/* Contains all the css information for the website */
body {
  background-color: #3399ff;
}

/*Location of the header*/
#header{
  background: #3B5998;
  width:100%;
  float:top;
  position:relative;
  
  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of the content container*/
#container{
  background: #3B5998;
  width:99%;
  height:100%;
  padding: 5px;
  margin-top: 10px;
  position:relative;

  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of register division*/
#register{
  background: #ffffff;
  margin: 5%;
  width: 350px;
  padding: 5px;
  
  text-align: center;
  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of sub-containerdivision*/
#subContainer{
  background: #ffffff;
  margin: 5%;
  width: 150px;
  padding: 10px;
  
  text-align: center;
  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of login division*/
#login{
  background: #ffffff;
  margin: 5%;
  width: 350px;
  padding: 5px;
  
  text-align: center;
  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of search division*/
#searching{
  background: #ffffff;
  margin: 5%;
  width: 400px;
  padding: 5px;
  
  float:bottom;

  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*Location of error division*/
#error{
  background: #ffffff;
  margin: 5%;
  width: 500px;
  padding: 5px;
  
  float:bottom;

  text-align: center;
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/*The location of the username displayed*/
#username{
  color: white;
  font-size: 0.75em;
  position:absolute;
  top:-10px;
  right:55px;
}

/*The location of the signout button*/
#signout{
  color: yellow;
  font-size: 0.75em;
  position:absolute;
  top:1px;
  right:5px;
}

/*The location of the help menu*/
#userdoc{
  color: yellow;
  font-size: 0.75em;
  position:absolute;
  top:20px;
  right:5px;
}

/*Color of the marquee*/
h1,h4{
  color:white;
}

/*Location of home page link*/
.homePage{
  font-size: 0.75em;
  color:white;
  position:absolute;
  top:-10px;
  right:70px;
}
a.homePage{
  font-size: 1.0em;
  color:yellow;
  position:absolute;
  top:0px;
  right:-65px;
}

/*Button's configuration in home page*/
input[type=submit]{
  width:10em;
}

#editInfo{
  width : 15em;
  font-size:75%;
}

#edit-form{
    font-size: 62.5%;
    display:block; 
   margin-bottom:12px; width:95%; padding: .4em; 
   padding:0; border:0; margin-top:25px; 
    font-size: 1.2em; margin: .6em 0; 
   padding: .3em; 
    border: 1px solid transparent; padding: 0.3em;
}

#info{
  background: #ffffff;
  margin: 5%;
  width: 300px;
  padding: 10px;
  
  text-align: center;
  /* Creating the rounded edges*/
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* The following buttonstyle code taken from http://www.cssbuttongenerator.com */
#buttonstyle {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background:-moz-linear-gradient(top, #3B5998 5%, #019ad2 100%);
    background:-webkit-linear-gradient(top, #3B5998 5%, #019ad2 100%);
    background:-o-linear-gradient(top, #3B5998 5%, #019ad2 100%);
    background:-ms-linear-gradient(top, #3B5998 5%, #019ad2 100%);
    background:linear-gradient(to bottom, #3B5998 5%, #019ad2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3B5998', endColorstr='#019ad2',GradientType=0);

    background-color:#3B5998;

    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;

    border:1px solid #057fd0;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;

    text-shadow:0px -1px 0px #5b6178;
}
#buttonstyle:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
            filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
    background-color:#019ad2;
}
#buttonstyle:active {
    position:relative;
    top:1px;
}
